body {
    background-image: url(../img/fon2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100vw;
    height : 100vh;
    border :  solid 1px black;
}
/*Header*/
.header {
    width : 80%;
    height : 20%;
    border : 1px solid green;
    border-radius: 5vh;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
}

.nav {
    width: 90%;
    height: 60%;
    float: left;
   /* border : 1px solid white;*/
    margin-top: 2%;
    margin-left: 5%;

}

.menu {
    /*border : 1px white solid;*/
    border-radius: 4vh;
    height : 90%;
    margin-top : 0.25%;
    width: 68%;
    float: left;
    margin-left: 15%;


}

ul.menu li {
    display: inline;
    float: left;

}

.btn {
    height : 7.5vh;
    width : 11vw;
    margin-right: 1vw;
    margin-top: 1.75vh;
    margin-left: -5%;
}

#button {
    margin-top: 1.25%;
    margin-left: 2.25%;
    border-radius: 1vw;
    background-color: #0095cd;
    height: 7vh;
    width : 10.5vw;
    color : white;
    font-size: 1vw;
    font-style: oblique;
    font-family: Verdana;
}

#button:hover {
    height : 7.5vh;
    width: 11vw;
    background-color: #003399;
    margin-left: -0.075%;
    margin-top: -0.075%;
}

/*MainFrame*/

.mainFrame {
    border : 1px bisque solid;
    float: left;
    height : 68%;
    width : 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 5vh;

}

